<!DOCTYPE html>
<html ng-app="dpApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CMG UI Dev Test - David Pait</title>
		<script type="text/javascript" src="../js/jquery-1.8.0.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-sanitize.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/uidevtest.css">
	</head>
	<body>
		<div ng-controller="dpController">
			<div ng-switch on="dpView" >
		        <div ng-switch-when="list" class="dpListView">
		        	<ul class="dpStoryList">
						<li class="dpStory" ng-repeat="story in stories">
							<a href="?story=sto0{{$index + 1}}"><img ng-src="{{story.lead_photo_image_thumb}}" /></a>
							<div class="dpStoryInfo">
								<h2><a href="?story=sto0{{$index + 1}}" class="dpStoryLink">{{story.title}}</a></h2>
								<div class="dpStoryCategory"><span class="dpIndividualCategory" ng-repeat="category in story.categories_name">{{category}}</span></div>	
								<div class="dpStoryTimePublish">Posted: {{ story.pub_date | date:'h:mm a EEEE, MMM. d, yyyy' }}</div>
								<div class="dpStoryTimeUpdate">Updated: {{ story.updated | date:'h:mm a EEEE, MMM. d, yyyy' }}</div>
							</div>
						</li>
					</ul>
		        </div>
		        <div ng-switch-when="story" class="dpStoryView">
		        	<div class="dpInteriorStoryCategory"><a class="dpInteriorStoryLink" href="index.html">HOME</a>
		        		<span class="dpInteriorIndividualCategory" ng-repeat="category in current.categories_name">{{category | uppercase }}</span>
		        	</div>	
		        	<div class="dpDesktop">
		        		<div class="dpInteriorStoryTitle">{{ current.title }}</div>
			        	<div class="dpInteriorStoryTimestamps">
			        		<span class="dpInteriorStoryTimeUpdate">Updated: {{ current.updated | date:'h:mm a EEEE, MMM. d, yyyy' }} </span>|
			        		<span class="dpInteriorStoryTimePublish">Posted: {{ current.pub_date | date:'h:mm a EEEE, MMM. d, yyyy' }} </span>
			        	</div>
		        	</div>
		        	<div class="dpMobile">
			        	<div class="dpInteriorStoryTimestamps">
			        		<span class="dpInteriorStoryTimeUpdate">Updated: {{ current.updated | date:'h:mm a EEEE, MMM. d, yyyy' }} </span>|
			        		<span class="dpInteriorStoryTimePublish">Posted: {{ current.pub_date | date:'h:mm a EEEE, MMM. d, yyyy' }} </span>
			        	</div>
			        	<div class="dpInteriorStoryTitle">{{ current.title }}</div>
		        	</div>
		        	<div class="dpInteriorStorySocial">
	        			<a href="#" class="dpCommentLink"><i class="dpInteriorStorySocialIcons dpCommentIcon"></i><span class="dpCommentText">COMMENT</span></a>
						<a href="#" class="dpShareLink"><i class="dpInteriorStorySocialIcons dpShareIcon"></i><span class="dpShareText">SHARE</span></a>
						<a href="#" class="dpFavoriteLink"><i class="dpInteriorStorySocialIcons dpFavoriteIcon"></i><span class="dpFavoriteText">FAVORITE</span></a>
						<a href="#" class="dpVoteLink"><i class="dpInteriorStorySocialIcons dpVoteIcon"></i><span class="dpVoteText">VOTE</span></a>
		        	</div>
		        	<div class="dpInteriorStoryLeftCol">
		        		<div class="dpInteriorPhotoContain">
				        	<img class="dpInteriorPhoto" ng-src="{{ current.lead_photo_image_url }}" alt="">
				        	<span class="dpInteriorPhotoCredit">{{ current.lead_photo_credit }}</span>	
				        </div>
				        	<span class="dpInteriorPhotoCaption">{{ current.lead_photo_caption }}</span>        		
		        	</div>
		        	<div class="dpInteriorStoryMain">
		        		<div class="dpInteriorStoryAutor" ng-repeat="author in current.author">By <a href="#" class="dpInteriorStoryLink">{{author}}</a></div>
		        		<div class="dpInteriorStoryBody" ng-bind-html='current.story'></div>
		        	</div>
		        </div>
		    </div>
		</div>
		<script type="text/javascript">
		var dpApp = angular.module('dpApp', ['ngSanitize']);
		dpApp.config(['$locationProvider', function(l) {
		    l.html5Mode(true);
		}]);
		dpApp.controller('dpController', ['$scope', '$http', '$location', function(s,h,l) {
		  	s.$on("$locationChangeStart", function() {
				h.get('../js/uidevtest-data.js').success(function(data) {
					s.stories = data.objects;
					s.storyParam = l.search().story;
					if (s.storyParam) {
						s.dpView = 'story';
						s.urlParam = s.storyParam
						s.index = s.urlParam.slice(3) - 1;
						s.current = data.objects[s.index];
					}
					else {
						s.dpView = 'list';
					}
				});
			});
		}
		]);
		</script>
	</body>
</html>