<!DOCTYPE html>
<html ng-app="dpApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CMG UI Dev Test - David Pait</title>
		<script type="text/javascript" src="../js/jquery-1.8.0.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-sanitize.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/uidevtest.css">
	</head>
	<body>
		<div ng-controller="dpController">
			<div ng-switch on="dpView" >
		        <div ng-switch-when="list" class="dpListView">
		        	<ul class="dpStoryList">
						<li class="dpStory" ng-repeat="story in stories">
							<a href="?story=sto0{{$index + 1}}"><img ng-src="{{story.lead_photo_image_thumb}}" /></a>
							<div class="dpStoryInfo">
								<h2><a href="?story=sto0{{$index + 1}}" class="dpStoryLink">{{story.title}}</a></h2>
								<div class="dpStoryCategory"><span class="dpIndividualCategory" ng-repeat="category in story.categories_name">{{category}}</span></div>	
								<div class="dpStoryTimePublish">Posted: {{ story.pub_date | date:'h:mm a EEEE, MMM. d, yyyy' }}</div>
								<div class="dpStoryTimeUpdate">Updated: {{ story.updated | date:'h:mm a EEEE, MMM. d, yyyy' }}</div>
							</div>
						</li>
					</ul>
		        </div>
		        <div ng-switch-when="story" class="dpStoryView">
		        	
		        </div>
		    </div>
		</div>
		<script type="text/javascript">
		var dpApp = angular.module('dpApp', ['ngSanitize']);
		dpApp.config(['$locationProvider', function(l) {
		    l.html5Mode(true);
		}]);
		dpApp.controller('dpController', ['$scope', '$http', '$location', function(s,h,l) {
		  	s.$on("$locationChangeStart", function() {
				h.get('../js/uidevtest-data.js').success(function(data) {
					s.stories = data.objects;
					s.storyParam = l.search().story;
					if (s.storyParam) {
						s.dpView = 'story';
						s.urlParam = s.storyParam
						s.index = s.urlParam.slice(3) - 1;
						s.current = data.objects[s.index];
					}
					else {
						s.dpView = 'list';
					}
				});
			});
		}
		]);
		</script>
	</body>
</html>