/* CSS RESET TOOK FROM CMG CORE.CSS FILE */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,fieldset,dl,dt,dd,ol,ul,li,form,label,caption{margin:0;padding:0;border:0;outline:0;white-space:normal}ol,ul{list-style:none}blockquote,q{quotes:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}legend{display:none}

/* MAIN */
*{box-sizing: border-box}
body {font-family: "arial"}
p {padding-bottom: 1em}

/* LIST VIEW */
.dpListView{width:960px;margin:0 auto}
.dpStoryList {list-style: none;margin:20px}
.dpStory {margin-bottom:50px;position: relative}
.dpStory img {
	border: 2px solid #fff;
	-webkit-box-shadow: 3px 3px 3px #808080;
	-moz-box-shadow: 3px 3px 3px #808080;
	-o-box-shadow: 3px 3px 3px #808080;
	box-shadow: 3px 3px 3px #808080;
	float: left
}
.dpStoryLink{
	color:#036dbe;
	font-size: 16px;
	font-weight: bold;
	margin-left: 15px;
	text-decoration:none
}
.dpStoryLink:hover {
	border-bottom: 1px solid #036dbe
}
.dpStoryCategory, .dpStoryTimePublish, .dpStoryTimeUpdate {
	color:#444444;
	font-size: 14px;
	margin-left: 150px
}
.dpStoryTimePublish{margin-top:18px}
.dpIndividualCategory:after { content: " / " } 
.dpIndividualCategory:last-child::after { content: "" }
